.vegetable:nth-child(10n+1) .image {
    background-image: url("../images/brocoli.jpg") !important;
    background-position-y: 80%;
}

.vegetable:nth-child(10n+2) .image {
    background-image: url("../images/carrot.jpg") !important;
}

.vegetable:nth-child(10n+3) .image {
    background-image: url("../images/chilli.jpg") !important;
}

.vegetable:nth-child(10n+4) .image {
    background-image: url("../images/cucumber.jpg") !important;
}

.vegetable:nth-child(10n+5) .image {
    background-image: url("../images/eggplant.jpg") !important;
}

.vegetable:nth-child(10n+6) .image {
    background-image: url("../images/garlic.jpg") !important;
}

.vegetable:nth-child(10n+7) .image {
    background-image: url("../images/mashroom.jpg") !important;
}

.vegetable:nth-child(10n+8) .image {
    background-image: url("../images/paprica.jpg") !important;
}

.vegetable:nth-child(10n+9) .image {
    background-image: url("../images/pumpkin.jpg") !important;
}

.vegetable:nth-child(10n+10) .image {
    background-image: url("../images/beetroot.jpg") !important;
}

header#banner,
section#banner {
    background-image: url("../images/grocery-bcg1.jpg") !important;
    background-position: bottom;
    background-size: cover;

    /*min-height: 20vh;*/
    background-color: #C97064;
    color: #C97064;
    /*text-align: center;*/
}
